#ignore all kind of files
.*.cpp
*.tlog
*.db
*.exe
*.filters
*.ipch
*.idb
*.ilk
*.log
*.obj
*.opendb
*.pdb
*.py
*.sln
*.suo
*.txt
*.user
*.vcxproj
*.zip

#except these files
!*.gitignore
!*.pdf
!*.docx